<nav class="hero__menu container">
  <ul class="hero__list">
    <li class="hero__item"><a href="javascript:void(0);" class="hero__link">О заводе</a></li>
    <li class="hero__item"><a href="javascript:void(0);" class="hero__link">Наша продукция</a></li>
    <li class="hero__item">
      <a href="javascript:void(0);" class="hero__link">Официальные партнеры</a>
    </li>
    <li class="hero__item"><a href="javascript:void(0);" class="hero__link">Контакты</a></li>
    <li class="hero__item"><a href="javascript:void(0);" class="hero__link">Инструкции</a></li>
  </ul>
</nav>
