<div class="header__menu menu">
  <nav class="menu__body">
    <ul class="menu__list">
      <li class="menu__item"><a href="javascript:void(0)" class="menu__link">На главную</a></li>
      <li class="menu__item"><a href="javascript:void(0)" class="menu__link">Стандарт окно</a></li>
      <li class="menu__item"><a href="javascript:void(0)" class="menu__link">Комфорт окно</a></li>
      <li class="menu__item"><a href="javascript:void(0)" class="menu__link">Премиум окно</a></li>
    </ul>
    <a href="tel:+78182432246" class="menu__phone phone-link">
      <span>+7 (8182) 43-22-46</span>
    </a>
  </nav>
</div>
