.page {
  &__hero {
    margin-top: rem(170);
    //== 992px ==//
    @media (min-width: $tb) {
      margin-top: rem(30);
    }
  }
}
.hero {
  &__upper-link {
    display: none;
    @extend %mr;
    @extend %ff-500-24;
    margin-bottom: rem(5);
    //== 992px ==//
    @media (min-width: $tb) {
      display: flex;
      justify-content: flex-end;
    }
  }
  &__container {
    @extend %ml;
    //== 768px ==//
    @media (min-width: $mb) {
      margin-right: 0;
      padding-right: 0;
    }
  }
  &__body {
    //== 768px ==//
    @media (min-width: $mb) {
      display: flex;
    }
  }

  &__logo {
    display: none;
    max-width: rem(300);
    &:not(:last-child) {
      margin-bottom: rem(30);
    }
    //== 992px ==//
    @media (min-width: $tb) {
      display: block;
    }
  }

  &__content {
    padding-right: rem(20);
  }

  &__title {
  }
  &__title:not(:last-child) {
    margin-bottom: rem(15);
  }

  &__descr {
    font-weight: 300;
    font-size: rem(24);
    line-height: 115%;
    //== 370px ==//
    @media (min-width: $mb-xs) {
      line-height: 123%;
    }
    //== 768px ==//
    @media (min-width: $mb) {
      font-size: rem(26);
    }
    //== 992px ==//
    @media (min-width: $tb) {
      font-size: rem(28);
    }
    //== 1200px ==//
    @media (min-width: $note-m) {
      font-size: rem(32);
    }
  }
  &__descr span {
    font-weight: 500;
    color: var(--clr-blue);
  }
  &__descr:not(:last-child) {
    margin-bottom: rem(30);
    //== 992px ==//
    @media (min-width: $tb) {
      margin-bottom: rem(35);
    }
  }

  &__btn {
    width: 100%;
    position: relative;
    z-index: 5;
    //== 440px ==//
    @media (min-width: $mb-s) {
      width: auto;
    }
    //== 768px ==//
    @media (min-width: $mb) {
      padding: rem(22) rem(30);
      span {
        font-size: rem(16);
      }
    }
  }

  &__image {
    height: rem(365);
    margin-right: rem(-20);
    margin-left: rem(-20);
    margin-top: rem(-60);
    @extend %ibg;
    //== 370px ==//
    @media (min-width: $mb-xs) {
      margin-top: rem(-40);
    }
    //== 768px ==//
    @media (min-width: $mb) {
      flex: 1 1 auto;
      margin-top: 0;
      margin-left: 0;
      margin-right: 0;
    }
    //== 992px ==//
    @media (min-width: $tb) {
      height: rem(485);
    }
    //== 1024px ==//
    @media (min-width: $note-s) {
      margin-left: rem(-120);
    }
    img {
      object-position: bottom;
      z-index: -1;
      //== 768px ==//
      @media (min-width: $tb) {
        object-position: center;
      }
    }
  }

  &__guarantee {
    position: absolute;
    right: rem(33);
    bottom: rem(40);
    @extend %fl-c;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: rem(100);
    height: rem(133);
    @extend %bg-con;
    background-image: url('@img/other_icons/garantuee.svg');
    filter: drop-shadow(0px 0px 20px rgba(53, 53, 53, 0.3));

    &-title {
      font-weight: 400;
      font-size: rem(12);
      line-height: 115%;
      color: var(--clr-white);
      &:not(:last-child) {
        margin-bottom: rem(5);
      }
    }
    &-counter {
      @extend %fl-c;
      font-weight: 700;
      font-size: rem(47);
      background: linear-gradient(
          180deg,
          rgba(220, 216, 201, 0.77) 0%,
          rgba(160, 155, 134, 0.0693) 100%
        ),
        #ffffff;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
      text-shadow: 0px 2.66667px 6.66667px rgba(19, 19, 19, 0.25);
    }
    &-counter span {
      font-size: rem(17);
    }

    //== 992px ==//
    @media (min-width: $tb) {
      width: rem(150);
      height: rem(200);
      right: rem(65);
      &-title {
        font-size: rem(18);
      }
      &-counter {
        font-size: rem(70);
      }
      &-counter span {
        font-size: rem(26);
      }
    }
  }
}
