.page {
  &__instruction {
    &:not(:last-child) {
      margin-bottom: rem(30);

      //== 768px ==//
      @media (min-width: $mb) {
        margin-bottom: rem(40);
      }
      //== 992px ==//
      @media (min-width: $tb) {
        margin-bottom: rem(60);
      }
      //== 1200px ==//
      @media (min-width: $note-m) {
        margin-bottom: rem(80);
      }
    }
  }
}
.instruction {
  &__container {
  }

  &__list {
    &:not(:last-child) {
      margin-bottom: rem(30);

      //== 768px ==//
      @media (min-width: $mb) {
        margin-bottom: rem(40);
      }
      //== 992px ==//
      @media (min-width: $tb) {
        margin-bottom: rem(60);
      }
      //== 1200px ==//
      @media (min-width: $note-m) {
        margin-bottom: rem(80);
      }
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: rem(30);
    }

    //== 768px ==//
    @media (min-width: $mb) {
      display: flex;
      align-items: center;
    }
    //== 992px ==//
    @media (min-width: $tb) {
      &:not(:last-child) {
        margin-bottom: rem(40);
      }
    }
    //== 1200px ==//
    @media (min-width: $note-m) {
      &:not(:last-child) {
        margin-bottom: rem(45);
      }
    }
  }
  &__item span {
    @extend %fl-r-ct;
    color: #393939;
    font-size: rem(24);
    font-family: Montserrat;
    font-weight: 700;
    line-height: 125%;

    &:not(:last-child) {
      margin-bottom: rem(30);
    }

    //== 768px ==//
    @media (min-width: $mb) {
      flex: 0 0 70%;
      &:not(:last-child) {
        margin-bottom: 0;
        margin-right: rem(40);
      }
    }
    //== 992px ==//
    @media (min-width: $tb) {
      font-size: rem(28);
      &:not(:last-child) {
        margin-right: rem(60);
      }
    }
    //== 1200px ==//
    @media (min-width: $note-m) {
      font-size: rem(32);
      &:not(:last-child) {
        margin-right: rem(100);
      }
    }
    //== 1440px ==//
    @media (min-width: $note-xl) {
      font-size: rem(37);
    }
  }
  &__item span::before {
    content: '';
    align-self: flex-start;
    margin-right: rem(5);
    margin-top: rem(8);
    flex: 0 0 rem(40);
    width: rem(40);
    height: rem(40);
    @extend %bg-con;
    background-image: url('@temp/systems/icon.svg');

    //== 576px ==//
    @media (min-width: $mb-m) {
      align-self: center;
      margin-top: 0;
    }
    //== 992px ==//
    @media (min-width: $tb) {
      flex: 0 0 rem(60);
      width: rem(60);
      height: rem(60);
      margin-right: rem(35);
      margin-right: rem(25);
    }
  }

  &__download {
    display: block;
    width: rem(95);
    height: rem(77);
    //== 768px ==//
    @media (min-width: $mb) {
      flex: 0 0 rem(95);
    }
  }

  &__icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__title {
    color: #42454a;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    font-size: rem(32);
    line-height: 125%;

    //== 768px ==//
    @media (min-width: $mb) {
      font-size: rem(36);
    }
    //== 992px ==//
    @media (min-width: $tb) {
      font-size: rem(40);
    }
    //== 1200px ==//
    @media (min-width: $note-m) {
      font-size: rem(44);
    }
    //== 1440px ==//
    @media (min-width: $note-xl) {
      font-size: rem(50);
    }
  }
}
