//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.btn {
  position: relative;
  overflow: hidden;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  padding: rem(17) rem(30);
  background: linear-gradient(90.36deg, #d8e7f0 0%, rgba(49, 168, 255, 0) 99.86%), #0d8bd2;
  box-shadow: 0px 4px 0px #61abd8, 0px 12px 20px rgba(129, 183, 214, 0.5);
  border-radius: rem(15);
  span {
    font-weight: 700;
    font-size: rem(24);
    line-height: math.div(28, 24);
    color: var(--clr-white);
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: rem(25);
    height: 200%;
    transform: translateX(-200%);
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.1) 30%,
      #fff 70%,
      rgba(255, 255, 255, 0.1)
    );
    transition: transform 0.5s ease-in-out;
  }
  @media (any-hover: hover) {
    &:hover::after {
      transform: translateX(rem(215));
    }
  }
  &._fw {
    width: 100%;
  }
}
