.menu {
  &.menu--inner .menu__body > ul {
    //== 992px ==//
    @media (min-width: $tb) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &.menu--inner .menu__body > ul > li {
    //== 992px ==//
    @media (min-width: $tb) {
      margin-top: rem(10);
      margin-bottom: rem(5);
    }

    //== 1200px ==//
    @media (min-width: $note-m) {
      &:not(:last-child) {
        margin-right: rem(20);
      }
    }
  }

  //== 992px ==//
  @media (min-width: $tb) {
    align-self: flex-end;
    margin-bottom: rem(10);
  }
  &__phone {
    margin-top: rem(30);
    //== 768px ==//
    @media (min-width: $tb) {
      display: none;
    }
  }
  &__body {
    position: fixed;
    overflow: auto;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 85%;
    max-width: rem(350);
    height: 100vh;
    background-color: var(--clr-white);
    box-shadow: -4px 0px 12px rgba(0, 0, 0, 0.15);
    padding: rem(80) rem(20) rem(30);
    transform: translateX(100%);
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    transition: all 0.32s ease-in-out;
    .menu-open & {
      transform: translateX(0);
      visibility: visible;
      pointer-events: all;
      opacity: 1;
    }
    > ul {
      flex: 1 1 auto;
      //== 768px ==//
      @media (min-width: $tb) {
        display: flex;
        align-items: flex-end;
      }
    }
    > ul > li:not(:last-child) {
      margin-bottom: rem(30);
      //== 768px ==//
      @media (min-width: $tb) {
        margin-bottom: 0;
        margin-right: rem(20);
      }
      //== 1200px ==//
      @media (min-width: $note-m) {
        margin-right: rem(40);
      }
      //== 1360px ==//
      @media (min-width: $note-l) {
        margin-right: rem(60);
      }
    }
    > ul > li {
      //== 992px ==//
      @media (min-width: $tb) {
        text-align: center;
      }
    }
    > ul > li > a {
      display: block;
      line-height: 125%;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      transition: transform 0.25s ease-in-out;
      &:hover {
        transform: translateY(rem(-1));
      }
      //== 992px ==//
      @media (min-width: $tb) {
        font-size: rem(16);
      }
      //== 1200px ==//
      @media (min-width: $note-m) {
        font-size: rem(20);
      }
      //== 1360px ==//
      @media (min-width: $note-l) {
        font-size: rem(24);
      }
    }
    //== 768px ==//
    @media (min-width: $tb) {
      position: static;
      width: auto;
      max-width: none;
      height: auto;
      box-shadow: none;
      padding: 0;
      background-color: transparent;
      transform: translateX(0);
      visibility: visible;
      pointer-events: all;
      opacity: 1;
      margin: 0 rem(20);
    }
  }
}

//====================================================================================================
.icon-menu {
  display: none;
  //== 440px ==//
  @media (min-width: $mb-s) {
    order: 3;
  }
  @media (max-width: $tb) {
    display: block;
    position: relative;
    width: rem(22);
    flex: 0 0 rem(22);
    height: rem(16);
    cursor: pointer;
    z-index: 31;
    span,
    &::before,
    &::after {
      content: '';
      transition: all 0.35s ease 0s;
      right: 0;
      position: absolute;
      width: 100%;
      height: rem(2);
      background-color: var(--clr-black);
      border-radius: 20px;
    }
    &::before {
      top: 0;
      animation: menu07-bar01 0.55s forwards;
    }
    span {
      top: calc(50% - rem(1));
      transition: all 0.25s 0.25s;
      opacity: 1;
    }
    &::after {
      bottom: 0;
      animation: menu07-bar03 0.55s forwards;
      width: 50%;
    }
    .menu-open & {
      &::before {
        animation: active-menu07-bar01 0.55s forwards;
      }
      span {
        opacity: 0;
      }
      &::after {
        animation: active-menu07-bar03 0.55s forwards;
        width: 100%;
      }
    }
  }
}

@keyframes menu07-bar01 {
  0% {
    transform: translateY(7px) rotate(45deg);
  }

  50% {
    transform: translateY(7px) rotate(0);
  }

  100% {
    transform: translateY(0) rotate(0);
  }
}
@keyframes menu07-bar03 {
  0% {
    transform: translateY(-7px) rotate(-45deg);
  }

  50% {
    transform: translateY(-7px) rotate(0);
  }

  100% {
    transform: translateY(0) rotate(0);
  }
}
@keyframes active-menu07-bar01 {
  0% {
    transform: translateY(0) rotate(0);
  }

  50% {
    transform: translateY(7px) rotate(0);
  }

  100% {
    transform: translateY(7px) rotate(45deg);
  }
}
@keyframes active-menu07-bar03 {
  0% {
    transform: translateY(0) rotate(0);
  }

  50% {
    transform: translateY(-7px) rotate(0);
  }

  100% {
    transform: translateY(-7px) rotate(-45deg);
  }
}
